{% comment %} This is our reusable, recursive template for a tree branch {% endcomment %}

<ul>
    {% for problem in problems %}
    <li>
        <div class="problem-node cause-problem">{{ problem.description }}</div>

        {% comment %} If this problem has children, call this same template again {% endcomment %}
        {% if problem.children.all %}
            {% include "workshops/_problem_branch.html" with problems=problem.children.all %}        {% endif %}
    </li>
    {% endfor %}
</ul>